@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:wght@300;400;500;600;700');
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $light-pink;
    color: $dark-grey;
    font-size: 16px;
    font-weight: 400;
}

.text-heading-medium {
  font-family: 'Lora', serif;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;

  &--max-width {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    font-size: 2.3em;
    text-align: left;
  }
}

.text-heading-large {
  font-size: 2em;
  font-family: 'Lora', serif;
  font-weight: 600;
  margin: 15px 0;

  @include desktop {
    font-size: 3.5em;
  }
}

.text-heading-xlarge {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
  margin: 15px 0;
  line-height: 1em;

  @include desktop {
    font-size: 4em;
  }
}

.paragraph-small {
    font-size: 1em;
    line-height: 1.5em;
}

.paragraph-medium {
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: 400;

  @include desktop {  
    font-size: 1.3em;
  }
}

.paragraph-large {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 400;

  @include desktop {  
    font-size: 1.6em;
  }
}

a {
    color: $dark-grey;
    text-decoration: none;

    &:hover {
       color: #78508f; 
    }
}

.bold {
    font-weight: 700;
}

section {
  padding: 80px 20px;
  box-sizing: border-box;

  @include desktop {
    padding: 90px 20px;
  }
}
